[submodule "src/AvaloniaEdit"]
	path = src/AvaloniaEdit
	url = https://github.com/HendrikMennen/AvaloniaEdit
[submodule "src/AvalonStudio.TerminalEmulator"]
	path = src/AvalonStudio.TerminalEmulator
	url = https://github.com/HendrikMennen/AvalonStudio.TerminalEmulator
[submodule "src/Dock"]
	path = src/Dock
	url = https://github.com/HendrikMennen/Dock
[submodule "src/Markdown.Avalonia"]
	path = src/Markdown.Avalonia
	url = https://github.com/HendrikMennen/Markdown.Avalonia
