<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="DATAFOLDER" Name="data" />
    </DirectoryRef>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="InstallProgramMenuFolder" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>
  </Fragment>
</Wix>