<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="OneWare Studio" Language="1033" Version="$(var.BuildVersion)" Manufacturer="!(loc.Company)"
    UpgradeCode="5a012316-d68c-4fb9-94f3-bb504a21b77c">
    <MediaTemplate EmbedCab="yes" />
    <!-- Major Upgrade Rule to disallow downgrades -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
    <Icon Id="Icon" SourceFile="res\img\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon"/>
    <Property Id="DISABLEADVTSHORTCUTS" Value="1"/>

    <!-- Change the installer UI background images -->
    <WixVariable Id="WixUIBannerBmp" Value="res\img\TopBanner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="res\img\BackgroundLogo.jpg" />

    <!--LICENSE-->
    <WixVariable Id="WixUILicenseRtf" Value="res\license.rtf" />

    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT" Value="https://www.one-ware.com" />

    <!--APPData-->
    <Property Id="PRIVATEDATAFOLDER" Secure="yes">
      <RegistrySearch Root="HKCU" Key="Software\!(loc.Company)\!(loc.ProductNameFolder)" Type="raw"
        Id="APPLICATIONFOLDER_REGSEARCH" Name="PrivateDir" />
    </Property>

    <!--Fix for WIX removing dlls on upgrade? -->
    <SetProperty Id="REINSTALLMODE" Value="amus" Before="FindRelatedProducts" Sequence="first" />

    <UIRef Id="UI" />

    <Feature Id="OneWareStudio" Title="OneWare Studio" Description="Installs all the files needed for OneWare Studio" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="StudioComponents" />
    </Feature>

  </Package>
</Wix>