<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="StudioComponents" Directory="INSTALLFOLDER">

            <Component Id="OneWareStudioExeComponent" Guid="{7a73a50a-c9e7-4511-af5d-642296257da6}">
                <File Id="OneWareStudioExe" Source="!(bindpath.publish)\OneWareStudio.exe"
                    KeyPath="yes">
                    <Shortcut Name="!(loc.ProductNameShortCut)" Directory="DesktopFolder"
                        Advertise="yes" WorkingDirectory="INSTALLFOLDER" />

                    <Shortcut Name="!(loc.ProductNameShortCut)" Directory="ProgramMenuFolder"
                        Advertise="yes" WorkingDirectory="INSTALLFOLDER" />
                </File>
            </Component>

            <Component Id="FileAssociations" Guid="{079f76d6-ed96-4ae3-9a74-d5aa5e99b01d}">

                <!-- Associate .fpgaproj files -->
                <RegistryKey Root="HKCR" Key=".fpgaproj">
                    <RegistryValue Value="OneWare.Project" Type="string" />
                </RegistryKey>

                <!-- Assign an icon to .fpgaproj files -->
                <RegistryKey Root="HKCR" Key="OneWare.Project\DefaultIcon">
                    <RegistryValue Value="[#OneWareStudioExe],0" Type="string" />
                </RegistryKey>

                <!-- Define how to open files -->
                <RegistryKey Root="HKCR" Key="OneWare.Project\shell\open\command">
                    <RegistryValue Value="&quot;[#OneWareStudioExe]&quot; &quot;%1&quot;"
                        Type="string" />
                </RegistryKey>

            </Component>


            <!-- Harvest Studio Files Automatically -->
            <Files Include="!(bindpath.publish)\**\*.*">
                <Exclude Files="!(bindpath.publish)OneWareStudio.exe" />
            </Files>

        </ComponentGroup>
    </Fragment>
</Wix>