<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="StudioComponents" Directory="INSTALLFOLDER">

            <Component Id="MainAppShortcut" Guid="{b4d03014-1ed3-45c4-9d61-f96cb666e999}">

                <Shortcut Id="MainAppShortcut"
                    Name="!(loc.ProductNameShortCut)"
                    Target="[INSTALLFOLDER]OneWareStudio.exe"
                    Directory="InstallProgramMenuFolder"
                    WorkingDirectory="INSTALLFOLDER"
                />

                <!-- Desktop shortcut -->
                <Shortcut Id="ApplicationDesktopShortcut"
                    Name="!(loc.ProductNameShortCut)"
                    Description="!(loc.Description)"
                    Directory="DesktopFolder"
                    Target="[INSTALLFOLDER]OneWareStudio.exe"
                    WorkingDirectory="INSTALLFOLDER" />

                <!-- Our unique key for this component/shortcut -->
                <RegistryValue Id="RegShortcutKey" Root="HKCU"
                    Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer"
                    KeyPath="yes" />

                <!--Remove start menu items -->
                <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder"
                    On="uninstall" />

                <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities"
                    Name="ApplicationDescription" Value="OneWare Studio" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities"
                    Name="ApplicationIcon" Value="[INSTALLFOLDER]OneWareStudio.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities"
                    Name="ApplicationName" Value="OneWare Studio" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\DefaultIcon"
                    Value="[INSTALLFOLDER]OneWareStudio.exe,1" Type="string" />

                    <!--
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\FileAssociations"
                    Name=".vhdpproj" Value="VHDPlus.Project" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\FileAssociations"
                    Name=".vhdp" Value="VHDPlus.Document" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\MIMEAssociations"
                    Name="application/vhdpproj" Value="VHDPlus.Project" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\MIMEAssociations"
                    Name="application/vhdp" Value="VHDPlus.Document" Type="string" />

                    -->

                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\!(loc.ProductNameFolder)\Capabilities\shell\Open\command"
                    Value="&quot;[INSTALLFOLDER]OneWareStudio.exe&quot; &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="!(loc.ProductNameFolder)"
                    Value="SOFTWARE\!(loc.ProductNameFolder)\Capabilities" Type="string" />

                <!-- App Paths to support Start,Run -> "myapp" -->
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\OneWareStudio.exe"
                    Value="[!OneWareStudio.exe]" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\OneWareStudio.exe"
                    Name="Path" Value="[INSTALLFOLDER]" Type="string" />

                <!-- Extend to the "open with" list + Win7 jump menu pinning
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\Classes\Applications\VHDPlus.exe\SupportedTypes" Name=".vhdpproj"
                    Value="" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\Classes\Applications\VHDPlus.exe\SupportedTypes" Name=".vhdp"
                    Value="" Type="string" />
                <RegistryValue Root="HKLM"
                    Key="SOFTWARE\Classes\Applications\VHDPlus.exe\shell\open" Name="VHDPlus"
                    Value="VHDPlus" Type="string" />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\VHDP.Project" Name="VHDPlus"
                    Value="VHDPlus" Type="string" />
                -->

            </Component>

            <!--Harvested
            Components-->
            <ComponentGroupRef Id="HarvestedComponents" />
        </ComponentGroup>
    </Fragment>
</Wix>