<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="StudioComponents" Directory="INSTALLFOLDER">

            <Component Id="OneWareStudioExeComponent" Guid="{7a73a50a-c9e7-4511-af5d-642296257da6}">
                <File Id="OneWareStudioExe" Source="!(bindpath.publish)\OneWareStudio.exe"
                    KeyPath="yes">
                    <Shortcut Name="!(loc.ProductNameShortCut)" Directory="DesktopFolder"
                        Advertise="yes" WorkingDirectory="INSTALLFOLDER" />

                    <Shortcut Name="!(loc.ProductNameShortCut)" Directory="ProgramMenuFolder"
                        Advertise="yes" WorkingDirectory="INSTALLFOLDER" />
                </File>

                <!-- Associate .fpgaproj files -->
                <RegistryKey Root="HKCR" Key=".fpgaproj">
                    <RegistryValue Value="OneWare.Project" Type="string" />
                    <RegistryValue Name="PerceivedType" Value="document" Type="string" />
                </RegistryKey>

                <!-- Assign an icon to .fpgaproj files -->
                <RegistryKey Root="HKCR" Key="OneWare.Project\DefaultIcon">
                    <RegistryValue Value="[#OneWareStudioExe],0" Type="string" />
                </RegistryKey>

                <!-- Define how to open files -->
                <RegistryKey Root="HKCR" Key="OneWare.Project\shell\open\command">
                    <RegistryValue Value="&quot;[#OneWareStudioExe]&quot; &quot;%1&quot;"
                        Type="string" />
                </RegistryKey>

                <!-- Register OneWare Studio in the "Open With" list -->
                <RegistryKey Root="HKCR" Key="Applications\OneWareStudio.exe">
                    <RegistryValue Name="FriendlyAppName" Value="OneWare Studio" Type="string" />
                </RegistryKey>

                <!-- Define how OneWare Studio should open files -->
                <RegistryKey Root="HKCR" Key="Applications\OneWareStudio.exe\shell\open\command">
                    <RegistryValue Value="&quot;[#OneWareStudioExe]&quot; &quot;%1&quot;"
                        Type="string" />
                </RegistryKey>

                <!-- Register url protocol -->
                <RegistryKey Root="HKCR" Key="oneware">
                    <RegistryValue Value="URL:oneware Protocol" Type="string" />
                    <RegistryValue Name="URL Protocol" Value="" Type="string" />
                </RegistryKey>

                <RegistryKey Root="HKCR" Key="oneware\DefaultIcon">
                    <RegistryValue Value="[#OneWareStudioExe],1" Type="string" />
                </RegistryKey>

                <RegistryKey Root="HKCR" Key="oneware\shell\open\command">
                    <RegistryValue
                        Value="&quot;[#OneWareStudioExe]&quot; &quot;%1&quot;"
                        Type="string" />
                </RegistryKey>

            </Component>

            <!-- Harvest Studio Files Automatically -->
            <Files Include="!(bindpath.publish)\**\*.*">
                <Exclude Files="!(bindpath.publish)OneWareStudio.exe" />
            </Files>

        </ComponentGroup>
    </Fragment>
</Wix>