# Dump
*.vcd
*.fst
*.ghw

# IVerilog
*.vvp

# GHDL
*.cf

# Yosys
build/
*.history

# Quartus
output_files/
incremental_db/
db/

# MacOS
.DS_Store

# Python
*__pycache__*

# Clangd
.clangd/
.cache/
obj/
mem_init/