name: Publish Studio Desktop for Linux in Snap Store

on:
  workflow_dispatch:
  workflow_run:
    workflows: [ Publish Studio Desktop ]
    types:
      - completed

jobs:
  deploy-snapcraft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Snapcraft
        run: |
          sudo snap install snapcraft --classic

      - name: Build & publish multi-arch snap
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
        run: |
          snapcraft remote-build --build-for=amd64,arm64
