name: Publish Studio Desktop for Linux in Snap Store

on:
  workflow_dispatch:
  workflow_run:
    workflows: [ Publish Studio Desktop ]
    types:
      - completed

jobs:
  deploy-snapcraft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Snapcraft
        run: |
          sudo snap install snapcraft --classic

      - name: Login to Snapcraft
        run: |
          echo "${{ secrets.SNAPCRAFT_ONEWARE }}" | snapcraft login --with -

      - name: Build & publish multi-arch snap
        run: |
          snapcraft remote-build --build-for=amd64,arm64